<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="com.miscorf.service"/>

    <!--ServiceImpl注入到IOC容器中-->
    <bean id="UserServiceImpl" class="com.miscorf.service.Impl.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <bean id="NoticeServiceImpl" class="com.miscorf.service.Impl.NoticeServiceImpl">
        <property name="noticeMapper" ref="noticeMapper"/>
    </bean>
    <bean id="FormServiceImpl" class="com.miscorf.service.Impl.FormServiceImpl">
        <property name="formMapper" ref="formMapper"/>
        <property name="answerMapper" ref="answerMapper"/>
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <bean id="PayServiceImpl" class="com.miscorf.service.Impl.PayServiceImpl">
        <property name="payMapper" ref="payMapper"/>
    </bean>
    <bean id="MessageServiceImpl" class="com.miscorf.service.Impl.MessageServiceImpl">
        <property name="messageMapper" ref="messageMapper"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>
